{% extends 'base.html' %}

{% block content %}
    <section class="order-confirmation">
        <h1>Ваш заказ оформлен</h1>
        <p>Спасибо за покупку, {{ order['name'] }}!</p>
        <p>Адрес доставки: {{ order['address'] }}</p>
        <p>Общая сумма: {{ order['total_price'] }} руб.</p>

        <h3>Содержимое заказа:</h3>
        <ul>
            {% for item in order_items %}
                <li>{{ item['name'] }} - {{ item['quantity'] }} x {{ item['price'] }} руб.</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
